#img_div{
    position: relative;
    border-top : dimgray 1px solid; 
    box-sizing:border-box;
    overflow: visible;


}
.bg_div {
    
    background:url('/media/main_1.jfif') fixed center; 
    opacity:0.5;
    /* filter : blur(4px);      */
    /* border : 2px solid green; */
    height : 100%;
    width : 100%;
    position : relative;
    top : -100%;
    z-index : -5;
}

.arrows{
    position : relative;
    height : 50px;
    width : 50px;
    z-index: 5;
    top : -300px;
   /* transform: translate(-50%,-50%);*/
    border : red solid 1px;
    box-sizing: border-box;

}
#arrow_left{
    left : 5%
}
#arrow_right {
    left : 85%;
}