{% extends "static_template.html" %}

{% block title%}
learnCode - Be A Thinker
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'website/css/index.css'%}"></style>
<div id="img_div">
    <div class="bg_div"></div>
    <center><img src="/media/main_1.jfif" id="main_img"></center> 
    <img src="/media/scroll_left2.png" id="arrow_left" class="arrows">
    <img src="/media/scroll_right2.png"id="arrow_right" class="arrows">
</div>
{% endblock %}
